<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Mobile App Testing Suite" verbose="1" parallel="false">

    <!-- Test Suite cho Android Local -->
    <test name="Login and Register Tests">
        <!-- DANH SÁCH TEST CLASSES - Chỉ Login và Register -->
        <classes>
            <class name="testcase.RegisterTest"/>
            <class name="testcase.LoginTest"/>
        </classes>
    </test>

</suite>
